form ul {
    background-color: #323939;
    padding: 2rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
    min-height: 417px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}