#profile-section-container {
    background-color: #323939;
    border-radius: 1.5rem;
    padding: 1rem;
    max-width: 600px;
}

section>header>img {
    display: block;
    aspect-ratio: 1;
    width: 100px;
    border-radius: 1.5rem;
}

#profile-section-container>section>header {
    display: flex;
    gap: 1rem;

}

#profile-info {
    background-color: #3A4242;
    border-radius: 1.5rem;
    padding: 1rem;


}

#profile-info>h1 {
    color: #2dffff;
    font-weight: bold;


}

#profile-section-container p {
    background-color: #3A4242;
    padding: 1.2rem;
    border-radius: 1.5rem;
    text-align: justify;
    margin: 1rem 0;
}

#profile-section-buttons {
    display: flex;
    gap: 2rem;
}

#profile-section-buttons>button {
    border-radius: 1rem;
    padding: 0.7rem 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    min-width: 190px;
}

#profile-settings {
    border: none;
    border-radius: 0.4rem;
    color: #3B4242;
    padding-block: 0.3rem;
    font-weight: bold;
}