:root {
  --main-bg-color: #2C3333;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay */
  z-index: 3;
  /* Adjust the z-index to make sure it's above other elements */
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  color: #CBE4DE;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
p,
ol,
ul,
h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--main-bg-color);

}

button {
  border: none;
  cursor: pointer;
}

.App {

  display: grid;
  grid-template-columns: auto;
  justify-items: center;
}